@model IEnumerable<VendeeEauTest2.Models.Epci>

@{
    ViewData["Title"] = "Epci";
}

<h2>Epci</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEpci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Epci1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomSecteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdTechnicien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEpci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Epci1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomSecteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdTechnicien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
